@import "tailwindcss";

@theme {
    --color-charcoal: #222222;
    --color-neutral-grey: #6a6a6a;
    --color-sapphire: #2e6fe7;
    --color-sapphire-dark: #1a4bb8;
    --color-divider: #edeDED;
    --font-sans: 'Inter', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}